.card-modify {
    border-style: none;
    padding: 10px;
}

.card-modify:hover{
    border-style: outset;
    border-width: 2px;
    border-color: #e6e4e4;
   
}
.carousel-custom{
    padding-top: 50rem;
}



.link-seemore{
    padding: 10px;
    background-color:#ecb605;
    color: #ffffff;
    font-weight: bolder;
}

.custom-align-subHeading{
    margin-top: 35px;
}

.sub-heading{
    padding: 10px;
    background-color: #090268;
    color: #ffffff;
    font-weight: bolder;
}

.custom-hight{
    height: 700px;
    max-width: 100%;
    

}

.position-slider{
    padding-top: 6.5rem;
}