*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.service{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('../pic/servicebg.jpg')center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.6rem;

}
.createPost{
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 10px;
    padding: 30px 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.137);
}

.service-info{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('../pic/1.jpg')center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1{
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.6rem;

}
.posts{
    border: 1px solid rgba(0, 0, 0, 0.137);
    display: flex;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.137);
}

.posts img{
    width: 25%;
}
.posts .post-details{
    text-align: center;
    padding: 20px;
    width: 75%;
}
.post-details h3{
    text-align: center;
    text-decoration: none;
}
.post-details p{
    text-decoration: none;
}
.posts-row a:hover{
    text-decoration: none !important;
}

.postform{
    width: 100%;
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('../pic/4.jpg')center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.hero h2{
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}

.detailsForm{
    width: 100%;
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('../pic/8.jpg')center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.service-Trans{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('../pic/2.jpg')center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-Finance{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('../pic/4.jpg')center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-buss{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('../pic/12.jpg')center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-helth{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('../pic/13.jpg')center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-mech{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('../pic/7.jpg')center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsTrans{
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('../pic/9.jpg')center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}



/*--------------------*/

.header {
	background: #0c2b4b;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
}

.header.header--normal {
	position: relative;
}

.header__logo {
	padding: 10px 0 20px;
	position: relative;
	z-index: 1;
}

.header__logo::before {
	position: absolute;
	left: -400px;
	top: 0;
	width: 580px;
	height: 100%;
	background:#fcc80a;
	content: "";
	z-index: -1;
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	padding: 28px 0px;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
	position: relative;
}

.header__menu ul li.active a:after {
	opacity: 1;
}

.header__menu ul li:hover a:after {
	opacity: 1;
}

.header__menu ul li:hover .dropdown {
	top: 33px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #f3bd00;
	text-align: left;
	padding: 2px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 8px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
}

.header__menu ul li a {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color:#ffffff;
	display: block;
	padding: 6px 0;
	position: relative;
}

.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #f3bd00;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	opacity: 0;
}

.header__right {
	text-align: right;
	padding: 20px 0;
}

.header__right__search {
	display: inline-block;
	padding-right: 15px;
	position: relative;
	margin-right: 15px;
}

.header__right__search:after {
	position: absolute;
	right: 0;
	top: 5px;
	width: 1px;
	height: 15px;
	background: rgba(255, 255, 255, 0.3);
	
}

.header__right__search i {
	font-size: 15px;
	color: #ffffff;
	cursor: pointer;
}

.header__right__social {
	display: inline-block;
	margin-right: 25px;
}

.header__right__social a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-right: 20px;
}

.header__right__social a:last-child {
	margin-right: 0;
}

.header__right__btn {
	display: inline-block;
}

.offcanvas-menu-wrapper {
	display: none;
}

.canvas__open {
	display: none;
}

/*------------------------------------------------------------*/

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 30px;
	color: black;
	background: #f3bd00;
	letter-spacing: 1px;
}

.primary-btn.second-bg {
	background: #f3bd00;
}

.btn-block{
	border-style: none;
	box-shadow: none;
	border-radius: 0px;
}



.site-btn {
	font-size: 14px;
	color: #ffffff;
	background: #2772bd;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 14px 30px;
}

/* 
.site-btn:hover{
	background-color: ;
} */

.site-btn.second-bg {
	background: #f3bd00;
}

/*---------------------
  Footer
-----------------------*/

.footer {
	padding-top: 70px;
	background: #0c2b4b;
}

.footer__widget {
	margin-bottom: 30px;
}

.footer__widget h5 {
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 24px;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: #c4c4c4;
	font-size: 15px;
	line-height: 32px;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about p {
	color: #c4c4c4;
	margin-bottom: 10px;
}

.footer__about ul li {
	list-style: none;
	color: #c4c4c4;
	font-size: 15px;
	line-height: 36px;
}

.footer__logo {
	margin-bottom: 30px;
}

.footer__logo a {
	display: inline-block;
}

.footer__copyright__text {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 20px 0;
	margin-top: 20px;
}

.footer__copyright__text p {
	font-size: 14px;
	color: #c4c4c4;
	margin-bottom: 0;
}

.footer__copyright__text a {
	color: #c4c4c4;
	text-decoration: underline;
}

.footer__copyright__text a:hover {
	color: #f3bd00;
}

.footer__copyright__text i {
	color: #c11;
}

