/* .card-text{
    font-size: 30px;
}
.card{
    border-style: none;
}
.form-head{
    font-weight: bold;
}

.container{
    padding-top: 10rem;
} */

.usercontent{
    padding-top: 10rem;
    padding-bottom: 10rem;
}