

.usercontent{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.textarea-style{
    border-style: none;
}
.textarea-style:hover{
    border-style: solid;
    border-color: #ffa41c;
    border-width: 2px;
    border-radius: 5px;
}